doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Andy Bas
		link(rel='stylesheet', href='app.css')
	body
		p hey hey hey bitch
		//- include templates/_home.static.jade
		script(src='vendor.js')
		script(src='app.js')
		script.
			require('initialize');



