.row
  .small-8.small-centered.columns
    h1 Contact
    p
      | I am currently located in San Francisco, so if you're near, don't hesitate to get in touch for a cup of coffee.
    ul
      li code[at]andybas.com
      li
        a github
      li
        a linkedin
    p
      | I'm currently working with a diverse group of talented individuals to offer services to clients looking for high quality end to end software and web design and development.
      a Check us out
      | .
