#lumosity.reveal-modal.small(data-reveal='data-reveal')
  h2 Lumosity
  p
    | I was one of the core contributors to a complete re-write of the front end game playing experience. We utilized Backbone.js to create a really awesome and improved daily training experience for Lumosity users.
  a(href='#') Lumosity.com
  a.close-reveal-modal ×
#boxbee.reveal-modal.small(data-reveal='data-reveal')
  h2 Boxbee
  p
    | I've been the main contributor since day one of this really awesome storage startup. I was reposonsible for building out nearly all of the current back end architecture, as well as a mobile app to faciliate internal operations.
  a(href='#') Boxbee.com
  a.close-reveal-modal ×
.row
  .small-12.medium-10.medium-centered.columns
    h1 Recent Work
    .small-12.medium-6.columns
      a.th(href='#', data-reveal-id='lumosity')
        img(src='https://pbs.twimg.com/profile_images/378800000079399484/bfdc2bf4edb65ff2039d43972701b7c2.png', height='400', width='600')
    .small-12.medium-6.columns
      a.th(href='#', data-reveal-id='boxbee')
        img(src='http://s3-media4.ak.yelpcdn.com/bphoto/BYBKj-AukmqiJY4lw3Arqw/l.jpg', height='400', width='600')
