.row
  .small-8.small-centered.columns
    h2.page-lead About

    p
      | At some point during my first year of univeristy for a general arts degree, I realized I was wasting my time. I quickly shifted my education goals towards learning useful information, starting with a little help from <a href='http://bloc.io' target='_blank'>Bloc</a> and from there jumping headfirst into the most overwhelming client work I could find. I now architect, write, and manage software projects on a contract basis.
