.row
  .small-8.small-centered.columns
    h1 Core Skillset
    ul
      li ruby
      li javascript
      li object oriented design
      li test driven development
      li acquiring new skillsets
    h1 Technical Interests
    ul
      li software maintainability
      li client side application architectures
      li performance optimization and scalability
