.row
  .small-8.small-centered.columns
    h2.page-lead Contact
    ul
      li code[at]andybas.com
      li
        a(href='https://github.com/andyjbas', target='_blank') github
      li
        a(href='http://www.linkedin.com/in/andybas', target='_blank') linkedin
      li
        a(href='https://twitter.com/AndyJBas', target='_blank') twitter
