.row
  .small-8.small-centered.columns
    h1 Contact
    p
      | I am currently located in San Francisco, so if you're near, don't hesitate to get in touch for a cup of coffee.
    ul
      li code[at]andybas.com
      li
        a(href='https://github.com/andyjbas', target='_blank') github
      li
        a(href='http://www.linkedin.com/in/andybas', target='_blank') linkedin
    p
      | I am working with a talented group of developers, designers, and product managers to offer full-shop software services. If you have an interesting project and need some help, I'd love to hear from you!
