.row(style='margin-top: 100px;')
  .large-12.columns(style='text-align: center;')
    img(src='images/andy.png', style='height: 250px;')
.row
  .large-12.columns(style='text-align: center;')
    h1(style='font-size: 6.0em; font-weight: bold;') I architect web stuff
.row
  .large-12.columns(style='text-align: center;')
    p(style='font-size: 1.5em;')
      | Greetings. I'm Andy, and I design and write web software. I focus on simplicity, efficiency, and sophisticaton. If you like nice things, we'll get along.
