.row
  .large-12.columns
    img#andy(src='images/andy.png')
.row
  .large-12.columns
    h1#intro I architect web software
.row
  .large-12.columns
    h3
      | Hey there. I'm Andy, and I design and write web software. I focus on simplicity, efficiency, and sophistication. If you like nice things, we'll get along.
