.row
  .large-12.columns
    h1#intro Hi.
    h1 I'm Andy.
.row
  .large-12.columns
    h3
      | I architect software products. I keep things simple, I question everything, and I learn as much as possible along the way. <em>Nice to meet you.</em>

br
