.row
  .small-12.columns
    h2.page-lead Recent Work

.row.block-v-align
  .small-12.medium-6.large-4.columns
    a.th(href='http://wagaroo.com/app', target='_blank')
      img(src='images/wagaroo.jpg')

  .small-12.medium-6.large-8.columns
    p <a href='http://wagaroo.com/app' target='_blank'>Wagaroo</a> finds great homes for dogs who need them.

    p Starting from a very minimal MVP, I led a small team tasked with implementing the existing user interface and platform.

br
.row.block-v-align
  .small-12.medium-6.large-4.columns
    a.th(href='http://boxbee.com', target='_blank')
      img(src='images/boxbee.jpg')

  .small-12.medium-6.large-8.columns
    p From the very beginning of the <a href='http://boxbee.com' target='_blank'>Boxbee</a> web platform, through a win at <a href='http://www.launchfestival.com/' target='_blank'>Launch</a>, multiple rounds of funding, multi-city expansion, and their first core engineering hire, I was responsible for nearly all development of the web, inventory, and logistics platforms.

br
.row.block-v-align
  .small-12.medium-6.large-4.columns
    a.th(href='http://lumosity.com', target='_blank')
      img(src='images/lumosity.png')

  .small-12.medium-6.large-8.columns
    p At <a href='http://lumosity.com' target='_blank'>lumosity.com</a> I worked as a member of the team responsible for the core game-play product experience.

    p My work involved a complete front-end re-write of the game experience, maintenance and improvements on back-end recommendation, results, and data systems, performance optimization across the entire platform, and working closely with product managers to implement and use data from split tests and other analytics tools.
