#lumosity.reveal-modal.small(data-reveal='data-reveal')
  ul
    li Member of the team responsible for the core user game-play experience.
    li Core contributor to a complete re-write of the front-end experience, utilizing a client-side architecture.
    li Maintained the back-end game recommendations and game result systems.
  a(href='http://lumosity.com', target='_blank') Lumosity.com
  a.close-reveal-modal ×
#boxbee.reveal-modal.small(data-reveal='data-reveal')
  h2 Boxbee
  ul
    li Core contributor since day one of the application.
    li Responsible for nearly all of the current web and mobile architecture.
    li Presently working on improving back-end logistics systems.
  a(href='https://boxbee.com', target='_blank') Boxbee.com
  a.close-reveal-modal ×
.row
  .small-12.medium-10.medium-centered.columns
    h1 Recent Work
    .small-12.medium-6.columns
      a.th(href='#', data-reveal-id='lumosity')
        img(src='images/lumosity.png')
    .small-12.medium-6.columns
      a.th(href='#', data-reveal-id='boxbee')
        img(src='images/boxbee.png')
