#lumosity.reveal-modal.small(data-reveal='data-reveal')
  h2 Lumosity
  p
    | I was one of the core contributors to a full re-write of the user-facing game playing experience. We utilized Backbone.js to create a much improved daily training experience for Lumosity users.
  a(href='http://lumosity.com', target='_blank') Lumosity.com
  a.close-reveal-modal ×
#boxbee.reveal-modal.small(data-reveal='data-reveal')
  h2 Boxbee
  p
    | I've been the main contributor since day one of this intriguing storage startup. I was reposonsible for nearly all of the current back-end architecture, as well as a mobile app to faciliate internal operations.
  a(href='https://boxbee.com', target='_blank') Boxbee.com
  a.close-reveal-modal ×
.row
  .small-12.medium-10.medium-centered.columns
    h1 Recent Work
    .small-12.medium-6.columns
      a.th(href='#', data-reveal-id='lumosity')
        img(src='images/lumosity.png')
    .small-12.medium-6.columns
      a.th(href='#', data-reveal-id='boxbee')
        img(src='images/boxbee.png')

